[submodule "naoqi_bridge"]
	path = naoqi_bridge
	url = https://github.com/ros-naoqi/naoqi_bridge.git
[submodule "src/naoqi_bridge"]
	path = src/naoqi_bridge
	url = https://github.com/ros-naoqi/naoqi_bridge.git
[submodule "src/naoqi_driver"]
	path = src/naoqi_driver
	url = https://github.com/awesomebytes/naoqi_driver.git
[submodule "src/robocup_msgs"]
	path = src/robocup_msgs
	url = https://github.com/jacques-saraydaryan/robocup_msgs.git
[submodule "src/ros_world_mng"]
	path = src/ros_world_mng
	url = https://github.com/jacques-saraydaryan/ros_world_mng
[submodule "src/naoqi_bridge_msgs"]
	path = src/naoqi_bridge_msgs
	url = https://github.com/ProtolabSBRE/naoqi_bridge_msgs.git
[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = https://github.com/pepper-robotic-project-2020-CM/darknet_ros
